[Unit]
Description=TVH WakeUp Service
After=network-online.target tvheadend.service
Requires=network-online.target tvheadend.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/mnt/omv1/scripts/
ExecStartPre=/bin/sleep 10
ExecStart=/mnt/omv1/scripts/tvhwakeup.sh
ExecStop=/bin/kill -9 $MAINPID
RestartSec=15
Restart=always

[Install]
WantedBy=multi-user.target




